/* ++++++++++++++++++++++++ */
/* +++Fancy Button Stuff+++ */
/* ++++++++++++++++++++++++ */

.fancy-button {
  text-decoration: none;
  color: #000000;
  padding: 0.2em calc(0.2em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  cursor: pointer;
  letter-spacing: 0.07em;
}

.fancy-button:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background: #7a8088;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.fancy-button .line {
  position: absolute;
  background: #7a8088;
}

.fancy-button .line.-right, .fancy-button .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.fancy-button .line.-top, .fancy-button .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.fancy-button .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.fancy-button .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.fancy-button .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.fancy-button .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.fancy-button img {
  height: 1.33333em;
  line-height: .75em;
  vertical-align: -.278em;
}


/* ++++++++++++++++++++++++ */
/* ++The rest of the code++ */
/* ++++++++++++++++++++++++ */

.content {
  display: none;
  margin: 1em 0;
}

.content.active, .no-js .content {
  display: block;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

img {
  border-style: none;
  vertical-align: middle;
}

.width-onethird img {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #000000;
}

footer, header, main, section {
  display: block;
}

header {
  overflow: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 400!important;
}

h2 {
  font-size: 30px;
}

footer h2 {
  font-size: 25px!important;
  font-weight: 400!important;
  margin-top: 7px!important;
  line-height: 0;
  padding-bottom: 8px;
  margin-bottom: 16px!important;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  margin-top: 0;
}

.width-twothird h4 {
  font-weight: 600;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

.bar {
  width: 100%;
  overflow: hidden;
}

.center-content .bar {
  display: inline-block;
  width: auto;
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.bar {
  position: static;
  float: left;
}

#dropDownMenu {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5)!important;
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: right;
  border: none;
  float: none;
  outline: 0;
}

.wide {
  letter-spacing: 4px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.right {
  float: right!important;
}

.display-container {
  position: relative;
}

.div-content {
  margin-left: auto;
  margin-right: auto;
}

.div-content {
  max-width: 980px;
}

.header-image {
  max-width: 100%;
  height: auto;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.margin-top {
  margin-top: 16px!important;
}

.center-content {
  text-align: center!important;
}

.container:after, .container:before, .bar:before, .bar:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 0.01em 16px;
  box-sizing: border-box;
}

.width-onethird {
  padding: .5em;
  margin: .5em;
}

.width-twothird {
  padding-bottom: .5em;
}

.button-one {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button-one {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-one:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.bar .button-one {
  white-space: normal;
}

.top{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.top {
  top: 0;
}

.icon {
  height: 1.5em;
}

.techStackContainer {
  display: flex;
  align-items: center;
}

.techStackContainer p {
  margin-right: 7px;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
}

.stackIcon {
  min-width: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7px 7px 0;
}

.stackIcon img {
  height: 2em;
}

.stackIcon p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.space-between {
  margin: 15px 0 15px 0;
}


/* ++++++++++++++++++++++++ */
/* ++++++ Media Sizes++++++ */
/* ++++++++++++++++++++++++ */

@media (max-width:700px) {
  .hide-small {
    display: none!important;
  }

  .hide {
    display:none!important;
  }

  .show {
    display: block!important;
  }

  .techStack {
    justify-content: center;
  }
}

@media (min-width:701px) {
  .hide-large {
    display: none!important;
  }

  .width-onethird {
    width: 33.33333%;
  }
  
  .width-twothird {
    width: 66.66666%;
  }
  
  .project-flex {
    display: flex;
    align-items: center;
  }
  
  .project-flex-middle {
    flex-direction: row-reverse;
  }

  .project-flex-middle .width-twothird {
    padding-left: 7.5px;
  }

  .button-one:hover, .button-one:focus {
    color: #000!important;
    background-color: #ccc!important;
  }

  /* Fancy button hover */
  .fancy-button:hover .text, .fancy-button:active .text, .fancy-button:focus .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }

  .fancy-button:hover:after, .fancy-button:active:after, .fancy-button:focus:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }

  .fancy-button:hover .line, .fancy-button:active .line, .fancy-button:focus .line {
    transform: scale3d(1, 1, 1);
  }

  .fancy-button:hover .line.-right, .fancy-button:active .line.-right, .fancy-button:focus .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }

  .fancy-button:hover .line.-top, .fancy-button:active .line.-top, .fancy-button:focus .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }

  .fancy-button:hover .line.-left, .fancy-button:active .line.-left, .fancy-button:focus .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }

  .fancy-button:hover .line.-bottom, .fancy-button:active .line.-bottom, .fancy-button:focus .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }
}

@media (max-width: 451px) {
  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .button-one {
    padding: 4px 8px;
  }

  footer {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }

  footer h2 {
    margin-bottom: 8px!important;
    font-size: 16px!important;
  }
}


/* ++++++++++++++++++++++++ */
/* ++Font Sizes & Padding++ */
/* ++++++++++++++++++++++++ */

.font-large {
  font-size: 18px!important;
}

.font-xxl {
  font-size: 36px!important;
}

.border-bottom {
  border-bottom: 1px solid #ccc!important;
}

.padding {
  padding: 8px 16px!important;
}

.padding-large {
  padding:12px 24px!important;
}

.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}


/* ++++++++++++++++++++++++ */
/* ++++++++ Colors ++++++++ */
/* ++++++++++++++++++++++++ */

.text-grey {
  color: #757575!important;
}

.grey {
  color: #000!important;
  background-color: #9e9e9e!important;
}

.light-grey {
  color: #000!important;
  background-color: #f1f1f1!important;
}

.border-light-grey {
  border-color: #f1f1f1!important;
}

.white-text {
  color: #fff!important;
}

.black {
  color: #fff!important;
  background-color: #000!important;
}

.white {
  color: #000!important;
  background-color: #fff!important;
}

.opacity-min {
  opacity: 0.75;
}